@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');

.navigationPanel {
    /* background-color: #000; */
    display: flex;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    /* background-color: #FAFAFA; */
    /* border-bottom: 1px solid #E4E4E7; */
    justify-content: space-between;
    z-index: 9;
    position: fixed;
    left: 0;
    transition: all 0.1s ease-in;

}

.navigationPanel .items {

    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    width: 100%;
    padding: 14px;

}

.navigationPanel .items .item:nth-child(1) span {
    font-family: "Sekuya", system-ui;
    color: #0077B6;
    font-size: 22px;
    font-weight: 600;

}

.navigationPanel .items .item:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 18px;

}

.navigationPanel .items .item:nth-child(2) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationPanel .items .item:nth-child(2) .searchBar {
    border: 1px solid #D1D5DB;
    color: gray;
    padding: 12px;
    width: 50%;
    border-radius: 18px;
    cursor: pointer;

}

.navigationPanel .items .item:nth-child(3) i {
    font-size: 18px;
    font-style: normal;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.navigationPanel .items .item:nth-child(3) i:hover {
    transform: scale(1.1);
    /* transform: translateY(20); */
}

.navigationPanel .items .item:nth-child(3) button {
    background-color: #0077B6;
    color: #FFF;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.navigationPanel .items .item:nth-child(3) button:hover {
    background-color: #023E8A;

}