
.Explore {
    position: fixed;
    right: 0;
    top: 0;
    height: calc(100vh - 80px);
    width: calc(100vw - 350px);
    overflow-y: scroll;
    margin-top: 80px;
    
    /* background-color: #7a7a85; */
}

.navigation {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 350px;
    position: relative;
    z-index: 9;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 12px 20px;
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.2);

}

.navigation .sideMenu {

    margin: 8px;
    border-radius: 8px;
    width: 350px;
}

.navigation .sideMenu img {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.navigation .sideMenu:nth-child(1) {
    height: 100px;
    display: flex;
    justify-content: center;
    height: 150px;
}

.navigation .sideMenu:nth-child(2) {
    height: 100%;
    flex: 1;
}

.navigation .sideMenu:nth-child(3) {
    height: 100px;
}

.navigation .sideMenu .menu {
    display: grid;
}

.navigation .sideMenu .menu .subTitle {
    color: #7a7a85;
    margin-bottom: 12px;
    margin-left: 22px;
    font-size: 18px;
}

.navigation .sideMenu .menu div {
    width: 350px;
}

.navigation .sideMenu .menu span {
    color: #C7C7C9;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 22px;

}

.navigation .sideMenu .menu div {
    margin: 15px;
    margin-left: 12px;
}

.navigation .sideMenu .menu div i {
    color: #C7C7C9;
    font-size: 30px;
    /* font-weight: 500; */
    /* margin-bottom: 22px; */
    margin: 12px;
}


.Explore section .header img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    padding: 18px;
    border-radius: 38px;
}

.main .subHeading {
    color: #7a7a85;
    font-size: 35px;
    margin: 20px;
    font-weight: 500;
    position: relative;
    top: 30px;
}

.Explore .main .MonumentsCard {
    /* background-color: #FFF; */
    width: 500px;
    height: 350px;
    margin: 20px;
    border-radius: 12px;
    /* overflow: auto; */
    /* overflow: hidden; */
    cursor: pointer;
}

.Explore .main .MonumentsCard .MonumentsImg {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    /* width: 550px;
    height: 350px; */
    display: flex;
    align-items: flex-end;
    transition: all 0.1s ease-in-out;

}

.Explore .main .MonumentsCard .MonumentsImg:hover {
    transform: scale(1.05);
}

.Explore .main .MonumentsCard .MonumentsImg .aboutMonuments {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;


}

.Explore .main .MonumentsCard .MonumentsImg .aboutMonuments span {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    /* margin: 12px;
    margin-bottom: 0; */
    /* margin-left: 12px; */
    margin-right: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
    /* margin-bottom: 20px; */
}

.Explore .main .MonumentsCard .MonumentsImg .aboutMonuments button {
    color: #fff;
    margin: 25px;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 12px;
    backdrop-filter: blur(8px);
}

.ArtImg {

flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    /* width: 100%;
    height: 100%; */
    width: 550px;
    height: 350px;
    display: flex;
    align-items: flex-end;
    transition: all 0.5s ease-in-out;
    margin: 20px;

}

.ArtImg .aboutMonuments span {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    /* margin: 12px;
    margin-bottom: 0; */
    /* margin-left: 12px; */
    margin-right: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 400px;
    /* margin-bottom: 20px; */
}

.ArtImg .aboutMonuments button {
    color: #fff;
    margin: 25px;
    border-radius: 22px;
    background-color: rgb(255, 255, 255, 0.3);
    padding: 12px
}