.monuments {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

}

.monuments section {
    width: 100%;
    height: 100%;
    /* height: 200vh; */
    overflow-y: scroll;

}


.monuments section .headers {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.monuments section .headers .context {
    display: grid;
}

.monuments section .headers .bottomHeaderMain {
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.monuments section .headers .bottomHeaderMain .btnWrapper {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 12px;
    gap: 30px;
    position: relative;
    right: 10px;
    top: 60px;
}

.monuments section .headers .bottomHeaderMain .btnWrapper button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 14px;
    border-radius: 50%;
}

.monuments section .headers .bottomHeaderMain .btnWrapper button:hover {
    background-color: rgb(255, 255, 255, 10%);
}

.monuments section .headers .context span:nth-child(1) {
    color: #FFF;
    font-weight: 600;
    font-size: 100px;
    margin: 10px;
    margin-bottom: 0;
    width: 100%;
    text-align: right;
    position: relative;
    top: 20px;
}

.monuments section .headers .context span:nth-child(2) {
    color: #FFF;
    margin: 10px;
    margin-top: 0;
    width: 100%;
    text-align: right;

}

.prevFor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prevFor button {
    color: #FFF;
    font-size: 75px;
}


/* .monuments section .main{

} */



.monuments section .main {
    margin: 0;
    /* height: 100vh; */
}
.monuments section .main .content {
    display: flex;
    align-items: center;
}
.monuments section .main .content .mainImg1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 500px;
    margin: 50px;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}
.monuments section .main .content .mainImg1 span{
    color: #FFF;
    margin: 12px;
    font-size: 30px;
    font-weight: 600;
}
.monuments section .main .content .moreContainer{
    width: 100%;
    height: 100%;
    margin-right: 22px;
}

.monuments section .main .content .moreContainer .items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.monuments section .main .content .moreContainer .items .item {
  height: 230px;
  /* width: 150px; */
  background: #1e1e1e;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: start;
  border-radius: 10px;
  font-size: 18px;
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer{
    background-color: #0F0F0F;
    padding: 20px;
    height: 100vh;
}

.footer .contextHeading{
    font-size: 50px;
    color: #EDEDED;
    text-align: center;
    font-weight: 600;
    margin: 18px;
}

.footer .subheading{
color: #EDEDED;
margin: 42px;
font-size: 30px;
font-weight: 600;
}

.footer .paragraph{
    color:#A0A0A0 ;
    margin: 42px;
}
 .threeDContainer{
    background-color: #0F0F0F;
    height: 100vh;
 }