    .preservation {
        display: flex;
        height: 100vh;
        position: fixed;
        top: 100px;
        right: 0;
        width: calc(100vw - 361px);
        justify-content: center;
        height: calc(100vh - 110px);
        overflow-y: scroll;
    }




    .card-container {

        flex-shrink: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 12px;
        width: 90%;
        height: 100%;
        display: grid;
        align-items: center;
        transition: all 0.5s ease-in-out;

        scrollbar-width: none;

    }


    .card {
        position: relative;
        min-width: 450px;
        height: 500px;
        flex: 0 0 auto;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: transform 0.2s;
        margin-top: 10px;
        margin-right: 30px;
    }

    .card:hover {
        transform: scale(0.98);
    }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .card-title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 12px;
        background: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-container::-webkit-scrollbar {
        display: none;
    }