.ai {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(22px);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    z-index: 99;
    background-color: rgba(0, 0, 0, 50%);

}

.ai .container {
    background-color: #FAFAFA;
    width: 80%;
    height: 80%;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.ai .container .wrapper:nth-child(1) {
    width: 30%;
    height: 100%;
}

.ai .container .wrapper:nth-child(2) {
    width: 70%;
    height: 100%;
}

.ai .container .wrapper:nth-child(2) .Header {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #E4E4E7;
    padding-left: 0;
}

.ai .container .wrapper:nth-child(2) .Header .items {
    display: flex;
    align-items: center;
}

.ai .container .wrapper:nth-child(2) .Header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.ai .container .wrapper:nth-child(2) .Header span {
    font-size: 22px;
}


.ai .container .wrapper:nth-child(2) .Main {
    height: calc(100% - 130px);
    width: 100%;
    overflow-y: scroll;
}

.ai .container .wrapper:nth-child(2) .Main .items .sender {
    width: 80%;
}

.ai .container .wrapper:nth-child(2) .Main .items .sender .wrapped {
    color: gray;
    margin: 8px;
}

.ai .container .wrapper:nth-child(2) .Main .items .reciever {
    display: flex;
    align-items: center;
    justify-content: right;
}

.ai .container .wrapper:nth-child(2) .Main .items .reciever .wrapped {
    background-color: #0077B6;
    color: #FFF;
    /* max-width: 80%; */
    padding: 12px;
    border-radius: 12px;
    margin: 12px;
}

.ai .container .wrapper:nth-child(2) .Footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 12px;
}

.ai .container .wrapper:nth-child(2) .Footer .items {
    width: 100%;
    border: 1px solid #1c1c1c;
    margin: 12px;
    border-radius: 8px;

}

.ai .container .wrapper:nth-child(2) .Footer .items input[type=text] {
    width: calc(100% - 100px);
    padding: 8px;
    font-size: 18px;
    outline: none;
}

.ai .container .wrapper:nth-child(2) .Footer .items button {
    background-color: #0077B6;
    color: #FFF;
    padding: 8px;
    margin: 8px;
    width: 80px;
    border-radius: 8px;
    cursor: pointer;
}

.ai .container .wrapper:nth-child(1) {
    border-right: 1px solid #E4E4E7;
}

.ai .container .wrapper:nth-child(1) .title {
    color: gray;
    text-align: center;
    margin-top: 18px;
}

.ai .container .wrapper:nth-child(1) .items {
    display: flex;
    justify-content: start;
    overflow-y: scroll;
    height: calc(100% - 50px);
    width: 100%;
    flex-direction: column;

}

.ai .container .wrapper:nth-child(1) .items .item {
    display: flex;
    /* align-items: center; */
    width: 100%;
    padding: 8px;
    flex-shrink: 0;
    /* height: 20px; */

    /* padding-bottom: 0px; */
}

.ai .container .wrapper:nth-child(1) .items .item i {
    color: gray;
    font-size: 20px;
    margin-right: 8px;
    /* height: 20px; */

}

.ai .container .wrapper:nth-child(1) .items .item span {
    /* margin: 8px; */
    font-size: 16px;
    width: 100%;
    /* height: 20px; */

}

.ai-heading {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  color: #000;
}

.ai-number {
  margin: 6px 0;
  font-weight: 500;
  color: #000;
}

.ai-bullet {
  margin-left: 16px;
  list-style: disc;
  color: #000;
}

.ai-text {
  line-height: 1.6;
  margin: 6px 0;
}
