.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  line-height: 1.5;
  color: #fff;
  margin-left: 20px;
}

.char {
  display: inline-block;
}
