@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Uncial+Antiqua&display=swap');

body{
  /* background-color: #0B0E14; */
    background: #FAFAFA;
     
    overflow-x: hidden;
}
::-webkit-scrollbar{
    display: none;
}

